@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #333c42;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
    
}

body::-webkit-scrollbar {
    display: none;
    
}



/*-------------header & navbar --------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #333c42;
}
/*name logo*/
.logo {
    font-size: 2em;
    color:#fffefb;
    cursor: default;
}
/*name logo*/
.logo span {
    color:#ee567d;

}

/*navigation bar*/
.navbar ul li a {
    font-size: 1.1em;
    color: #fffefb;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500px;
    transition: .5s;
}
/*navigation bar layout*/
.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/*navigation bar on hover*/
.navbar a:hover {
    color: #ee567d;
    

}

/*connect button*/
.connect-btn {
    color: #fffefb;
    text-decoration: none;
    padding: 8px 35px;
    background: #ee567d;
    border-radius: 10px;
    border: 2px solid #ee567d;
    font-weight: 500;
    transition: .5s;
}
/*connect button on hover*/
.connect-btn:hover {
    background: transparent;
}

/*-------------home--------------*/
/*home section*/
.home {
    position:relative;
    width: 125%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 200px;


}
/*intro section*/
.introduction {
    max-width: 1000px;
    color: #fffefb;
    padding: 20px;
    
}
/*hi, i'm */
.intro-1 {
    font-size: 3em;
    padding: 0px 58px;
}

/*hi, i'm */
.intro-1 span {
    color: #ee567d;

}

/*hi, i'm */
.intro-2 {
    font-size: 2em;
    padding: 0px 58px;
}

/*short description */
.catchphrase {
    padding: 15px 40px 30px 58px;
    
}

.btns-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

/*buttons design*/
.btns-group a {
    
    color: #fffefb;
    text-decoration: none;
    padding: 10px 40px;
    background: #ee567d;
    border-radius: 10px;
    border: 2px solid #ee567d;
    font-weight: 500;
    transition: .5s;
}

.btns-group a:hover {
    background: transparent;
}


/*1st button*/
.email-btn1 {
    margin-left: 30px;
    padding: 10px 30px;
    transition: .5s;
}

.email-btn1:hover{
    transform: translateY(-5px);
    
}


/*2nd button*/
.github-btn1 {
    margin-left: 30px;
    padding: 10px 30px;
    transition: .5s;
    background: transparent;
}

.github-btn1:hover {
    transform: translateY(-5px);
}


/*2nd button*/
.linkedin-btn1 {
    margin-left: 30px;
    padding: 10px 30px;
    transition: .5s;
}

.linkedin-btn1:hover {
    transform: translateY(-5px);
}


/*-------------about me--------------*/

/*about section*/
.about {
    padding: 120px 200px;
    align-items: flex-start;
    position:relative;
    display: flex;
    color: #ababab;
}

/*row section*/
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    
}

/*image*/
.about-col-1 img {
    width: 125%;
    border-radius: 15px;
    transition: .5s;

}

/*image on hover*/
.about-col-1 img:hover {
    transform: translateY(-10px);
}

/*about (text section)*/
.about-col-2 {
    flex-basis: 50%;
}

/*about title */
.about-title {
    font-size: 60px;
    font-weight: 600;
    color:#ee567d;
}

/*description */
.desc {
    color:#fffefb;
    padding: 50px 0;
}


/*-------------skills--------------*/

/*skills section*/
.my-skills {
    position:relative;
    height: 100vh;
    padding:120px 200px;
}

/*skills title text*/
.skills-title {
    font-size: 60px;
    font-weight: 600;
    color:#ee567d;
}

/*skills grid layout*/
.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color:#fffefb;
}

/*name of the skill*/
.skillname {
    color:#fffefb;
}

/*skills design*/
.skills-list div {
    border-radius: 10px;
    border: 2px solid #ee567d;
    background: transparent;
    padding: 40px;
    font-weight: 300;
    transition: background 0.5s, transform 0.5s;
}

/*skills on hover*/
.skills-list div:hover {
    color:#fffefb;
    background-color: #ee567d;
    transform: translateY(-10px);
}

/*skill icon design*/
.skills-list i {
    font-size: 50px;
    margin-bottom: 30px;
}



/*-------------portfolio--------------*/

/*projects section*/
.my-portfolio {
    position:relative;
    height: 100vh;
    padding:120px 200px;
}

.portfolio-title {
    font-size: 60px;
    font-weight: 600;
    color:#ee567d;
}



.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color:#fffefb;
}



.proj {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.proj img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.projname {
    font-weight: 500;
    font-size: 25px;
    padding: 5px 0px;
    margin-bottom: 20px;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#ee567d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:14px;
    transition: height 0.5s;
}

.layer a {
    margin-top: 15px;
    color:#fffefb;
    font-size: 12px;
    text-decoration: none;

}

.proj:hover img {
    transform: scale(1.1);
}

.proj:hover .layer {
    height: 100%;
}











/*-------------connect with me--------------*/

.my-contact {
    position:relative;
    height: 100vh;
    padding:200px 200px;
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text inside .my-contact */
    
}

.contact-title {
    font-size: 60px;
    font-weight: 600;
    color: #ee567d;
    margin: 0; 
}

.contact-catchphrase {
    color: #fffefb;
    font-weight: 20;
    padding: 5px;
}

.con-desc {
    color: #fffefb;
    padding: 10px;
}


.con-btns {
    padding: 20px;
    display: flex;
    justify-content: center;
}


/*buttons design*/
.con-btns a {
    
    color: #fffefb;
    text-decoration: none;
    padding: 10px 40px;
    background: #ee567d;
    border-radius: 10px;
    border: 2px solid #ee567d;
    font-weight: 500;
    transition: .5s;
}

.con-btns a:hover {
    background: transparent;
}


/*1st button*/
.email-btn {
    margin-left: 30px;
    padding: 10px 30px;
    transition: .5s;
}

.email-btn:hover{
    transform: translateY(-5px);
}


/*2nd button*/
.github-btn {
    margin-left: 30px;
    padding: 10px 30px;
    transition: .5s;
}

.github-btn:hover {
    transform: translateY(-5px);
}


/*2nd button*/
.linkedin-btn {
    margin-left: 30px;
    padding: 10px 30px;
    transition: .5s;
}

.linkedin-btn:hover {
    transform: translateY(-5px);
}