@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: pink;
    
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color:#000;
    cursor: default;
}

.logo span {
    color:#fff;

}

.navbar a {
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500px;
    transition: .3s;
}

.navbar a:hover {
    color: #fff;

}

.connect-btn {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #000;
    border-radius: 10px;
    border: 2px solid #000;
    font-weight: 500;
    transition: .3s;
}

.connect-btn:hover{
    background: transparent;
    color: #000;
}

.home {
    position:relative;
    width: 125%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 200px;


}

.introduction {
    max-width: 800px;
    color: #000;

}

.introduction h1 {
    font-size: 3em;
}

.introduction h1 span {
    color: #fff;

}

.introduction h3 {
    font-size: 2em;
}

.introduction p {
    padding: 10px 0 40px 0;
}

.btns-group a {
    
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #000;
    border-radius: 10px;
    border: 2px solid #000;
    font-weight: 500;
    transition: .3s;
}

.btns-group a:nth-child(2) {
    color: #000;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btns-group a:nth-child(3) {
    color: #000;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btns-group a:hover:nth-child(1){
    color:#000;
    background: transparent;
}

.btns-group a:hover:nth-child(2){
    color:#fff;
    background-color: #000;
}

.btns-group a:hover:nth-child(3){
    color:#fff;
    background-color: #000;
}