@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #333c42;
    
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color:#fffefb;
    cursor: default;
}

.logo span {
    color:#ee567d;

}

.navbar a {
    font-size: 1.1em;
    color: #fffefb;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500px;
    transition: .3s;
}

.navbar a:hover {
    color: #ee567d;

}

.connect-btn {
    color: #fffefb;
    text-decoration: none;
    padding: 8px 35px;
    background: #ee567d;
    border-radius: 10px;
    border: 2px solid #ee567d;
    font-weight: 500;
    transition: .3s;
}

.connect-btn:hover{
    background: transparent;
    color: #ee567d;
}

.home {
    position:relative;
    width: 125%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 200px;


}

.introduction {
    max-width: 900px;
    color: #fffefb;
    
}

.intro-1 {
    font-size: 3em;
}

.intro-1 span {
    color: #ee567d;

}

.intro-2 {
    font-size: 2em;
}

.catchphrase {
    padding: 10px 0 40px 0;
}

.btns-group a {
    
    color: #fffefb;
    text-decoration: none;
    padding: 10px 40px;
    background: #ee567d;
    border-radius: 10px;
    border: 2px solid #ee567d;
    font-weight: 500;
    transition: .3s;
}

.btns-group a:nth-child(2) {
    color: #fffefb;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btns-group a:nth-child(3) {
    color: #fffefb;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btns-group a:hover:nth-child(1){
    color:#ee567d;
    background: transparent;
}

.btns-group a:hover:nth-child(2){
    color:#fffefb;
    background-color: #ee567d;
}

.btns-group a:hover:nth-child(3){
    color:#fffefb;
    background-color: #ee567d;
}